Python is a general purpose programming language
Comprehensive, OOPs, Interpreted

# Networking / Socket programming
# Data Science & ML --> Pandas, Scipy, NUmpy , Scikit learn, Statsmodel
# Deep Learning & AI --> Keras/Tensorflow, Pytorch
# Testing & Debugging --> Selenium, Pylint
# Web Development --> Flask / Django
# Web crawling --> Snapy, Beuatiful Soup, URL lib
# IOT --> Raspberry pie, ordniov
# Robotics, RPA, Game development, Cyber security

In [ ]:
v = 100

In [ ]:
type(v)

In [ ]:
17/4

In [ ]:
17//4

In [ ]:
17%2

In [ ]:
10**2

In [ ]:
3==6

In [ ]:
3<=8

In [ ]:
v.__dir__()

In [ ]:
# Adding two numbers
10+20

In [ ]:
# Scope of a variable --> LEGB (Local, Enclosed, Global, built-in)

In [ ]:
x = 20

def example():
    #print("The value of x is: ", x)
    x = 15
    print("The value of x is now changed to: ", x)

In [ ]:
print(x)
example()

In [ ]:
x = 20

def example():
    global x
    print("The value of x is: ", x)
    x = 15
    print("The value of x is now changed to: ", x)

In [ ]:
bal= int(input(" Enter your balance: "))

In [ ]:
#  Big oh notation

# Data Structures

# Ordered Data structures --> Strings, Lists, Tuples

# Un-ordered Data Structures --> Dictionary & Sets

In [ ]:
# Strings --> "" or ''

In [ ]:
s = "Hello, welcome to the recap of python"

In [ ]:
s[7:]

In [ ]:
s[:5]

In [ ]:
s[7:14].capitalize()

In [ ]:
dir(s)

In [ ]:
s.upper()

In [ ]:
o = "Oringe"

In [ ]:
#Immutable: 'str' object does not support item assignment
o[2] = "a"

In [ ]:
# List
l = ['hi',100,100.8,['apple','banana']]

In [ ]:
l[0][0]

In [ ]:
l[3][0][:3].capitalize()

In [ ]:
type(l[3][0])

In [ ]:
l.append("Python")

In [ ]:
l[0] = "hello"

In [ ]:
# Tuple

In [ ]:
t = (1,2, "hello",["hi","python"],(100,200))

In [ ]:
# immutable : 'tuple' object does not support item assignment
t[2] = "Hello"

In [ ]:
# Dictionaries

In [ ]:
d = {'ID':[1,2,3,4],"Name":['John','Bheem','Ram','Phil'],"City":['Blr','Mys','Mlr','Hyd'], 
     "Sal":(1000,8000,4800,7654)}

In [ ]:
d['Sal'][2]

In [ ]:
# Sets

In [ ]:
s = set()

In [ ]:
s = {1,1,1,1,2,2,3,4,4,4,4,4}

In [ ]:
s

In [ ]:
s1 = {100,1,2,3,4,5,6,6,7,8,9}

In [ ]:
s&s1

In [ ]:
s.union(s1)

In [ ]:
s|s1

In [ ]:
s1

In [ ]:
s2 = {'a','b','z','g'}

In [ ]:
s2

In [ ]:
s1.issuperset(s)

In [ ]:
# Conditions & Iterations

In [ ]:
# If else & elif

In [ ]:
balance = 800

amount = int(input("Enter the amount to withdraw: "))
if amount < balance :
    print("The transaction is successfull")
    print("The remaining balance is :", balance-amount)
elif amount ==0:
    print("Enter the right amount")    
else:
    print("Insufficient funds")

In [ ]:
# Ask the user for input, If the input is greater than zero, print it's positive
# Check whether it is multiple of 2, multiple of 5 or multiple of both and print it, otherwise negative

In [ ]:
for num in range(10):
    print(num,end = " ")

In [ ]:
for i in s:
    print(i, end = " ")

In [ ]:
# Find the occurance of "a" in the string "banana"

In [ ]:
# Keywords --> break, pass & continue

In [ ]:
num = 0
for i in range(10):
    num+=1
    if num==5:
       #pass
       #break
        continue
    print("The number is: ", num)

In [ ]:
num = 5

while num>0:
    print(num)
    num-=1

In [ ]:
var = 88
# Ask the user for a input(type cast it to be integer) 
# Keep the loop running untill user gets the right guess

In [ ]:
while True:
    num = int(input("Enter your guess"))
    if num==var:
        print("Awesome")
        break
    elif num>var:
        print("Enter a smaller number")
    else:
        print("Enter a bigger number")

In [ ]:
a = []
for i in range(10):
    if i%2==0:
        a.append(i)

In [ ]:
[i for i in range(10) if i%2==0]

In [ ]:
def fn(a=100):
    #print(a)
    return a

In [ ]:
fn(808)

In [ ]:
fn()

In [ ]:
x = fn()

In [ ]:
type(x)

In [ ]:
# Return the number of upper case & lower case letters in the string using function
"hello, we are here for PYTHON class which offers neat SYNTAX"

In [ ]:
max([18,15,199,0,14])

In [ ]:
# Write a function to implement selection sort and return the maximum of a iterable object

In [ ]:
list(map(int,input().strip().split()))

In [ ]:
def sn(a):
    '''This function returns
    the square of a number
    sn(number)'''
    return a*a

In [ ]:
sn()

In [ ]:
list(map(sn,[10,20,30]))

In [ ]:
# map, filter, lambda, enumerate, zip, Generators, Decorators, Reduce

In [ ]:
from functools import reduce

In [ ]:
reduce(lambda x,y: x if (x>y) else y, [18,15,199,0,14])

In [ ]:
import math

In [ ]:
max([18,15,199,0,14])

In [ ]:
reduce(lambda x,y:x+y,[18,15,199,0,14])

In [ ]:
import sys
print('The command line arguments are:')
for i in sys.argv:
    print(i)
#print ('\n\nThe PYTHONPATH is', sys.path, '\n')

In [ ]:
s = "hello"

In [ ]:
s.__contains__('h')

In [ ]:
dir(s)

In [ ]:
# Numpy
# Numerical Python

In [ ]:
l = [1,2,3,4]
l1 = [10,20,30,40]

In [ ]:
import numpy as np

In [ ]:
l = np.array([1,2,3,4]).reshape(2,2)

In [ ]:
l1 = np.array(l1)

In [ ]:
type(l)

In [ ]:
l+l1

In [ ]:
l2 = l.reshape(2,2)

In [ ]:
l2.shape

In [ ]:
l.reshape(2,2)+l2

In [ ]:
a = np.array([[2,4,8],[13,17,19],[21,32,44]])

In [ ]:
a[:1,:2]

In [ ]:
a[:,2]

In [ ]:
a[:,1:]

In [ ]:
a[:2,:2]

In [ ]:
a[:2,[0,2]]

In [ ]:
a[[0,2],::2]

In [ ]:
a[::2,::2]

In [ ]:
a.T

In [ ]:
a.flatten()

In [ ]:
a.cumsum()

In [ ]:
a.argmax()

In [ ]:
a.max()

In [ ]:
a.sort()

In [ ]:
a>15

In [ ]:
a[a>15]

In [ ]:
from numpy import random

In [ ]:
random.randint(1,5,3)

In [ ]:
random.rand(2,4)

In [ ]:
import pandas as pd

In [ ]:
random.randn(10)

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(random.randn(10))

In [ ]:
a

In [ ]:
a1=np.hstack(a)

In [ ]:
a1

In [ ]:
np.vstack(a1).reshape(3,3)

In [ ]:
# Pandas --> Data Manipulation tool 
# Series & Dataframes

In [ ]:
# Series --> One dimensional

In [ ]:
import pandas as pd

In [ ]:
s=pd.Series([10,20,80,40], index=['Mon','Tue','Wed','Thu'])

In [ ]:
s[0]

In [ ]:
s['Mon']

In [ ]:
help(pd.date_range)

In [ ]:
d = pd.date_range('20221115', periods=6, freq='M')

In [ ]:
pd.date_range('20221115', periods=6, freq='D')

In [ ]:
pd.date_range('20221115', periods=6, freq='3M')

In [ ]:
pd.date_range('2022-11-15', periods=6, freq='10H')

In [ ]:
s1 = pd.Series([100,2345,7654,5678,345,322], index=d)

In [ ]:
# Dataframes --> Combination of rows and columns

In [ ]:
df = pd.DataFrame(random.randn(4,3), columns=['X','y','Z'])

In [ ]:
df = pd.DataFrame(a, columns=['X','Y','Z'])

In [ ]:
df = pd.DataFrame([[1,2,3],[10,40,20],[14,18,15],['a','b','c']], columns=['X','Y','Z'])

In [ ]:
df = pd.DataFrame({'Day':['Mon','Tue','Wed','Thu','Fri'],'Temp':[24,32,15,18,21],'Cloud':['Yes','No','Yes','No','yes']})

[] --> Access columns by label and rows by index
loc --> Pure label based indexing
iloc--> Pure integer based indexing
. --> Sql notation

In [ ]:
df['Day'][:3]

In [ ]:
df[:3][['Day','Cloud']]

In [ ]:
df.loc[:3][['Day','Cloud']]

In [ ]:
df['Day'][[0,3]]

In [ ]:
df1 = pd.DataFrame([[1,3,2],[3,6,4]],columns=['A','B','C'], index=['X','Y'])

In [ ]:
df1.loc['X'][['B','C']]

In [ ]:
df1['B']

In [ ]:
df.iloc[:2,[0,2]]

In [ ]:
df.iloc[:3,1:]

In [ ]:
df.Day[:3]

In [ ]:
df['Rained'] = ['Yes','No','yes','No','yes']

In [ ]:
df['Humid'] = ['High','Avg','High','Low','Avg']

In [ ]:
df.insert(3,'Humid',['High','Avg','High','Low','Avg'], allow_duplicates=True)

In [ ]:
# Axis by default is set to "0", rows. If you're working on Columns, axis must be set to "1"
# Inplace must be set to True in case of a permanent deletion

In [ ]:
df.drop('Humid', axis=1, inplace=True)

In [ ]:
df.insert(3,'Humid',['High','Avg','High','Low','Avg'])

In [ ]:
df1.drop('X')

In [ ]:
dir(df)

In [ ]:
df.loc[5] = ['Sat',28,'Yes','Low','No']

In [ ]:
help(df.append)

In [ ]:
# Conditional Subsetting

In [ ]:
df[df['Rained']=='Yes']

In [ ]:
df[df['Rained'].str.lower()=='yes']

In [ ]:
df[df['Rained'].str.capitalize()=='Yes']['Day']

In [ ]:
df[(df.Cloud=='Yes') & (df.Temp>15)]

In [ ]:
df[(df.Cloud=='Yes') | (df.Temp>15)]

In [ ]:
# Sort_index, Reset index, Re-index & Ignore index

In [ ]:
stock = pd.DataFrame(np.random.rand(6,4), index=pd.date_range('20221115',freq='M',periods=6),
                                                             columns = ['High','Low','Open','Close'])

In [ ]:
stock.columns

In [ ]:
stock.index

In [ ]:
stock.sort_index(ascending=False)

In [ ]:
stock.sort_values(by='Close', ascending=False)

In [ ]:
help(df.reindex)

In [ ]:
row_names = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']

In [ ]:
df = pd.DataFrame({'http_status': [200, 200, 404, 404, 301],
                   'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},index=row_names)

In [ ]:
new_index = ['Safari', 'Iceweasel', 'Comodo Dragon', 'Edge','Chrome']

In [ ]:
df2=df.reindex(new_index)

In [ ]:
help(df.reset_index)

In [ ]:
df = pd.DataFrame([('bird', 389.0),('bird', 24.0),('mammal', 80.5),('mammal', np.nan)],
index=['falcon', 'parrot', 'lion', 'monkey'],columns=('class', 'max_speed'))

In [ ]:
df.reset_index()

In [ ]:
df.reset_index(drop=True)

In [ ]:
help(pd.MultiIndex.from_tuples)

In [ ]:
row_names = pd.MultiIndex.from_tuples([('bird','falcon'),('bird','parrot'),
                                       ('mammal','lion'),('mammal','monkey')],
                                     names = ['class','name'])

In [ ]:
column_names = pd.MultiIndex.from_tuples([('Speed','Max'),('Species','type')])

In [ ]:
df2 = pd.DataFrame([(400,'fly'),('20', 'fly'),(88,'run'),(np.nan,'jump')], index=row_names, 
                    columns=column_names)

In [ ]:
df2['Speed']

In [ ]:
df2.columns

In [ ]:
df2['Species']['type'][:3]

In [ ]:
df2.reset_index()

# Data Science Life-cycle

# Data Engineering --> Collect, store, process & manage data [RDBMS, Big Data, Cloud]
# Data Analysis --> Analyse the data using maths, stats & domain knowledge [Excel, SQL, Pandas, R]
# Data Visualisation --> Visualise, reports, charts, presentations [Power BI, Qlikview, Tableau]
# Advanced Analytics --> Machine learning,Deep learning
Solution development

In [ ]:
df = pd.read_csv('D://data/churn.csv')

# Exploratory Data Analytics & data cleaning

# Uni-variate analysis
# Bi-variate analysis

# Descriptive statistics
    1. Measures of central tendency --> mean, median & mode
    2. Measures of Dispersion --> range,variance, std deviation, quartiles
    3. Measures of Shape --> Skewness, Kurtosis

In [ ]:
# Take a peek of first 5 records
df.head(10)

In [ ]:
'i\'m new to this'

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.CreditScore.mean()

In [ ]:
df['CreditScore'].median()

In [ ]:
sns.distplot(df['CreditScore'])

In [ ]:
df['CreditScore'].min()

In [ ]:
df['CreditScore'].max()

In [ ]:
df['CreditScore'].var()

In [ ]:
df['CreditScore'].std()

In [ ]:
sns.boxplot(y=df['CreditScore'])

In [ ]:
df.boxplot('CreditScore')

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.boxplot(df['CreditScore'])
plt.show()

In [ ]:
q1=df['CreditScore'].quantile(0.25)

In [ ]:
q3=df['CreditScore'].quantile(0.75)

In [ ]:
iqr = 718.0-584.0

In [ ]:
outlier_lw = q1-1.5*(iqr)

In [ ]:
df[df['CreditScore']<=584]

In [ ]:
2534/10000

In [ ]:
df['CreditScore'].skew()

In [ ]:
# skewness between -0.5 & +0.5 --> Symmetrical
# -1 & -0.5 or 0.5 & 1 --> Moderately skewed
# more than one or less than -1 --> Highly skewed data

In [ ]:
df['CreditScore'].plot()

In [ ]:
df['CreditScore'].hist()

In [ ]:
round(df.describe(),2).T

In [ ]:
df['Geography'].unique()

In [ ]:
df['Geography'].nunique()

In [ ]:
df['Geography'].mode()

In [ ]:
df['Geography'].value_counts()

In [ ]:
sns.countplot(df['Geography'])

In [ ]:
sns.boxplot(df['Geography'],df['CreditScore'])

In [ ]:
sns.boxplot(df['Geography'],df['Balance'])

In [ ]:
plt.scatter(df['CreditScore'],df['Balance'])
plt.xlabel('Creditscore')
plt.ylabel('Balance')
plt.show()

In [ ]:
# Data manipulation

In [ ]:
# Joining, concatenation, Group by, Pivot

In [ ]:
grp = df.groupby(['Geography'])

In [ ]:
grp.mean()

In [ ]:
grp1=df[['Age','CreditScore','Balance','EstimatedSalary','Exited','Geography']].groupby(['Geography'])

In [ ]:
agg2=grp1.mean()

In [ ]:
grp1.std()

In [ ]:
agg1=df.groupby('Geography').agg({'Balance':['min','max',np.mean],'Exited':[np.sum,np.mean]})

In [ ]:
df.groupby('Geography').Balance.agg(np.mean)

In [ ]:
pd.crosstab(df['Geography'],df['Gender'])

In [ ]:
sns.countplot(df['Geography'], hue=df['Exited'])

In [ ]:
agg1

In [ ]:
agg2

In [ ]:
pd.concat([agg1,agg2], axis=1)

In [ ]:
help(pd.concat)

In [ ]:
# Joins
# Pivot table
# Data Cleaning

In [ ]:
df1 = pd.DataFrame({'key1':['a','b','c','d'], 'value1':[1,3,6,2]})
df2 = pd.DataFrame({'key2':['a','b','g','f'], 'value2':[4,5,8,6]})

In [ ]:
df1.join(df2)

In [ ]:
# Inner join

In [ ]:
help(pd.merge)

In [ ]:
pd.merge(df1,df2, left_on='key1',right_on='key2')

In [ ]:
pd.merge(df1,df2, how='outer',left_on='key1',right_on='key2')

In [ ]:
pd.merge(df1,df2, how='left',left_on='key1',right_on='key2')

In [ ]:
pd.merge(df1,df2, how='right',left_on='key1',right_on='key2')

In [ ]:
df3 = df2.rename(columns={'key2':'key1','value2':'value1'})

In [ ]:
df4 = pd.concat([df1,df3], ignore_index=True)

In [ ]:
df4.stack()

In [ ]:
# Pivot tables

In [ ]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two','two'],
'bar': ['A', 'B', 'C', 'A', 'B', 'C'],'baz': [1, 2, 3, 4, 5, 6],'zoo': ['x', 'y', 'z', 'q', 'w', 't']})

In [ ]:
df

In [ ]:
df.pivot(index='foo', columns='bar', values='baz')

In [ ]:
df.pivot(index='foo', columns='bar')[['baz','zoo']]

In [ ]:
help(df1.pivot)

In [ ]:
help(df.pivot_table)

In [ ]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo","bar", "bar", "bar", "bar"],
"B": ["one", "one", "one", "two", "two","one", "one", "two", "two"],"C": ["small", "large", "large", "small",
"small", "large", "small", "small","large"],"D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
"E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

In [ ]:
df

In [ ]:
import numpy as np

In [ ]:
table = pd.pivot_table(df, values='D', index=['A', 'B'],columns=['C'], aggfunc=np.sum)

In [ ]:
table

In [ ]:
# Data Cleaning
# Null values, duplicate values, missing values, Special chars, negative values

In [ ]:
df = pd.DataFrame({'Age':[19,np.nan,24,np.nan,np.nan,18,25,np.nan],'Height':[5.3,np.nan,5.8,np.nan,5.3,5.5,4.8,4.9],
                  'Sal':[np.nan,123,456,765,354,987,645,776], 
                   'BP':[np.nan,151,-8,800,np.nan,1,123,145]})

In [ ]:
df.isna().sum()

In [ ]:
df

In [ ]:
# Deleting all the rows which are having missing values
df.dropna()

In [ ]:
df.dropna(axis=1, thresh=5)

In [ ]:
df.drop('Age',axis=1)

In [ ]:
df['Height'].mean()

In [ ]:
df.fillna(0)

In [ ]:
df['Height'].fillna(df['Height'].mean(), inplace=True)

In [ ]:
def fn(x):
    return np.sqrt(x)

In [ ]:
df['Sal']=df['Sal'].apply(fn)

In [ ]:
df

In [ ]:
db['insulin'][22] = 0

In [ ]:
db = pd.read_csv("D://data/diabetes.csv")

In [ ]:
db.shape

In [ ]:
db.info()

In [ ]:
db.isna().sum()

In [ ]:
round(db.describe(),2).T

In [ ]:
db.info()

In [ ]:
db.describe()

In [ ]:
db['insulin'].head()

In [ ]:
db.head()

In [ ]:
db.corr()

In [ ]:
db['insulin'].unique()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.scatter(db['age'],db['pressure'])

In [ ]:
import seaborn as sns

In [ ]:
plt.figure(figsize=(10,5))
sns.heatmap(db.corr(), annot=True)

In [ ]:
plt.scatter(db['pregnant'],db['age'])

In [ ]:
sns.boxplot(db['diabetes'],db['glucose'])

In [ ]:
df = pd.read_csv("D://data/Regression.csv")

In [ ]:
df.isna().sum()

In [ ]:
grp=df[['Age','Marital Status']].groupby('Marital Status')

In [ ]:
grp.mean()

In [ ]:
d=df[(df['Job Type']=='Employed') | (df['Job Type']=='Retired')]

In [ ]:
d.tail()

In [ ]:
df[df['Job Type']=='Employed'][['Job Type','Age']]